<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.admin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerAdmin</servlet-name>
    <servlet-class>com.ARegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerAdmin</servlet-name>
    <url-pattern>/ARegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>student</servlet-name>
    <servlet-class>com.student1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerStudent</servlet-name>
    <servlet-class>com.SRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerStudent</servlet-name>
    <url-pattern>/SRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>book</servlet-name>
    <servlet-class>com.addBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/addBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>view</servlet-name>
    <servlet-class>com.view1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>valid</servlet-name>
    <servlet-class>com.show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valid</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
</web-app>